@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* fonts */
@font-face {
    font-family: 'ColorTube';
    src: local('CT'), url('../assets/fonts/CT.woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
    }

@font-face{
    font-family: "Gotham Rounded Book";
    src: url(../assets/fonts/Gotham\ Rounded\ Book.otf) format('embedded-opentype'), 
        url(../assets/fonts/Gotham\ Rounded\ Book.otf) format('woff2'),         
        url(../assets/fonts/Gotham\ Rounded\ Book.otf) format('woff'),      
        url(../assets/fonts/Gotham\ Rounded\ Book.otf) format('truetype'),        
        url(../assets/fonts/Gotham\ Rounded\ Book.otf) format('svg');    
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;          
}

@font-face{
    font-family: "Gotham Rounded Medium";
    src: url(../assets/fonts/Gotham\ Rounded\ Medium.otf);
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

/* variables*/
:root {
    --c-dark: #212529;
    --c-body: #727272;
    --c-main: #EC268F;
    --c-main-rgb: 236,38,143;
    --c-secondary: #8AA172;
    --C-secondary-gray: #BDBFC1;
    --c-dark: #212529;
    --font-titles:"ColorTube";
    --font-secondary:"Gotham Rounded Medium";
    --font-base:"Gotham Rounded Book", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease
} 

/* reset and helpers */
body{
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body)
}

h1,h1,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-weight: 600;
  color:var(--c-dark)
}

h1{
  font-family: var(--font-secondary);
}

.colored-text{
  color: var(--c-main);
  font-weight: 900;
}

img{
  max-width: 100%;
  height: auto;
}

.section-padding{
  padding-top: 80px;
  padding-bottom: 80px;
}

.theme-shadow{
  box-shadow: var(--box-shadow);
}
/*Animations*/
.animate__animated {
  --animate-duration: 1.5s; /* Adjust the duration as needed */
}

/*Navbar*/
.navbar{
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.navbar-scrolled{
  width: 100%;
  background-color: none;
  box-shadow: none;
}

.navbar .nav-link{
  font-family: var(--font-secondary);
  font-size: larger;
  font-weight: 500;
}

.nav-link.active{
  text-decoration: underline;
  text-decoration-color: var(--c-main);
}

.navbar-brand{
  left: 0!important;
}

/*Whatsapp Button*/
.whatsapp-button{
  right: 0;
  bottom: 0;
  position: fixed;
  width: 8%;
  height:auto;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 3;
}

.whatsapp-button img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Button*/

.btn-wrap{
  margin-top: 3rem;
}

.btn{
  font-weight: 600;
  font-size: 14px;
  font-family: var(--font-secondary);
  padding: 7px 7px
}

@media (max-width: 426px){
  .btn{
    font-size: 11px;
    padding: 5px 5px;
  }

  .btn-wrap{
    margin-top: 5rem;
  }
}

@media (max-width: 376px){
  .btn{
    font-size: 11px;
    padding: 5px 5px;
  }

  .btn-wrap{
    margin-top: 4.75rem;
  }
}

.btn-color-1{
  background-color: var(--c-main);
  color: white;
}

.btn-color-1:hover{
  background-color: white;
  border-color: var(--c-main);
  color: var(--c-main);
}

.btn-color-2{
  background-color: var(--c-secondary);
  color: white;
}

.btn-color-2:hover{
  background-color: white;
  border-color: var(--c-secondary);
  color: var(--c-secondary);
}

/*Hero*/
/* #hero{
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)), url(../assets/images/empresarios\ negociando.jpeg);
  background-position:center;
  background-size:cover;
} */

.c-item{
  height: 500px;
}

.c-img{
  filter: brightness(0.6);
  position: absolute;
  min-height: 500px;
  top: 0;
  left: 0;
  object-fit: cover;
};

/*Section Title*/
.section-title{
  margin-bottom: 60px;
  font-family: var(--font-secondary);
  font-weight: 800;
}

.section-title .line{
  width: 60px;
  height: 4px;
  background-color: var(--c-main);
  margin: 16px auto 24px auto;
} 

.section-title h1{
  font-weight: bolder;
  font-size: 3rem;
}

.section-title p{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-secondary);
}

/*Iconbox*/
.iconbox{
  width:70px;
  height:70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  flex: none;
  margin-right: 1rem;
}

/*Counter*/
#counter{
  background: linear-gradient(rgba(var(--c-main-rgb), 0.8), rgba(var(--c-main-rgb), 0.8));
  background-position: center;
  background-size: cover;
}

/*Reviews*/

.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-main);
}

#reviews img{
  width:75px;
  height: 75px;
}

.review-head{
  position: relative;
}

.review-head::after{
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: white;
  transform: rotate(45deg);
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(rgba(var(--c-main-rgb), 0.8), rgba(var(--c-main-rgb), 0.8)), url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* benefit */
.benefit {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.benefit::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-main), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}


.benefit:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-main);
  z-index: -1;
}

.benefit:hover h5,
.benefit:hover p {
  color: white;
}

/*Allies*/
.allies-logo{
  width: auto;
  height: 150px;
}

/* Footer */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  /* border-bottom: 1px solid rgba(255,255,255,0.1); */
  border-bottom: 1px solid rgba(var(--c-main),0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}


footer li,
footer p,
footer a {
  color: rgba(255,255,255,0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-main);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(var(--c-main-rgb), 0.8), rgba(var(--c-main-rgb), 0.8));
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-main);
  color: white;
}

.social-icons{
  font-size: 1.5rem;
  
}

.social-icons a{
  text-decoration: none;
}



